* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #000;
    overflow-x: hidden;
}

/*<--------------------------------Header-------------------------------->*/
.header {
    display: flex;
    align-items: center;
    background-image: url("../images/header_start_img.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 70% 100%;
}
.header__right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__log {
    top: 0;
    position: fixed;
    right: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 50px;
    z-index: 1;
    li {
        margin-right: 0;
        margin-top: 20px;
        padding: 10px 20px;
    }
    li:hover {
        border: 1px solid yellow;
    }
    li a{
        font-size: 18px;
        text-decoration: none;
        color: #000;
    }
}
.header__menu {
    position: fixed;
    top: 70px;
    right: 8%;
    padding-right: 50px;
    z-index: 1;
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    li {
        margin-right: 0;
        padding: 15px 20px;
    }
    li:hover {
        border: 1px solid #000;
    }
    li a{
        font-size: 20px;
        text-decoration: none;
        color: #000;
    }
}
.header__info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 250px;
    margin-bottom: 8%;
    padding-left: 45%;
    font-size: 42px;
    p {
        text-align: center;
    }
    div {
        display: flex;
        justify-content: space-between;
        button {
            text-align: center;
            background-color: transparent;
            border: 1px solid #000;
            height: 150px;
            text-transform: uppercase;
            font-size: 32px;
            width: 35%;
            outline: none;
            cursor: pointer;
            padding: 10px;
        }
    }
}
.decoration__img {
    margin-top: 30px;
    margin-bottom: 80px;
}

.header_steps {
    font-size: 18px;
    .header_steps-square {
        border: 1px solid black;
        transform: rotate(45deg);
        display: block;
        width: 120px;
        height: 120px;
        position: relative;
        margin-top: 50px;
        margin-right: 15px;
        div{
            width: 150px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            display: block;
        }
    }
}
.header_signin {
    display: flex;
    align-items: center;
    background-image: url("../images/header_logged_img.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 70% 100%;
    .header__log {
        height: 9%;
    }
}
.header__warning {
    background-color: yellow;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    p {
        font-size: 16px;
    }
}
.header__form {
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    h3 {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    label {
        cursor: pointer;
    }
    button {
        width: 7%;
        padding: 5px 15px;
        font-size: 22px;
        background-color: transparent;
        border: 1px solid black;
        outline: none;
    }
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border: 1px solid black;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #eee;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

/*<--------------------------------Info section-------------------------------->*/

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: yellow;
    .info-steps {
        height: 100%;
        padding: 20px 20px;
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
        p:first-of-type {
            font-size: 46px;
        }
        p:nth-of-type(2) {
            text-transform: uppercase;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}
/*<--------------------------------Steps section-------------------------------->*/

.steps {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    button {
        background-color: #fff;
        border: 1px solid #000;
        //width: 18%;
        height: 120px;
        text-transform: uppercase;
        font-size: 36px;
        margin: 40px;
        padding: 10px;
        outline: none;
        cursor: pointer;
    }
}
.steps__img {
    width: 80px;
    height: 80px;
}

.steps__table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px;
    background-color: rgba(189, 223, 235, 0.99);
    td {
        width: 15%;
    }
    tr:last-of-type {
        font-size: 18px;
    }
    tr:nth-of-type(3) td {
        border-top: 1px solid #000;
    }
}



/*<--------------------------------About section-------------------------------->*/

.about {
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgba(189, 223, 235, 0.99);
    div {
        width: 40%;
        text-align: center;
        margin-left: 10%;
        line-height: 2;
    }
    img[alt='signature'] {
        background-color: rgba(189, 223, 235, 0.99);
        width: 50%;
        margin-left: 50%;
    }
}
.decoration__img img[alt='decoration img-grey']{
    background-color: rgba(189, 223, 235, 0.99);
}
img[alt='people picture'] {
    margin: 40px 0 40px 40px;
    flex-grow: 1;
}

/*<--------------------------------About section-------------------------------->*/

.organizations {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}
.organizations__header {
    width: 40%;
    margin: 40px auto 20px auto;
    text-align: center;
    img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.organizations__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            background-color: #fff;
            border: none;
            font-size: 24px;
            width: 32%;
            height: 100px;
            padding: auto;
            margin: auto auto;
            outline: none;
            cursor: pointer;
        }
        button:hover {
            border: 1px solid #000;
        }
    }
    p {
        font-size: 20px;
    }
}

.organizations__item {
    border-collapse: separate;
    border-spacing: 30px;
    th {
        text-align: left;
        font-weight: normal;
    }
    td {
        font-size: 18px;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        width: 50%;
    }
    tr td:last-of-type {
        text-align: right;
    }
}

.organizations_numbers {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
        padding: 3px 7px;
        cursor: pointer;
    }
}
.active {
    border: 1px solid #000;
    padding: 15px 20px;
}

/*<--------------------------------Footer section-------------------------------->*/
.contact {
    width: 100vw;
    background-image: url("../images/footer_bg_img.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    p {
        text-align: left;
        margin-left: 25%;
    }
    div {
        width: 50%;
        text-align: center;
        margin-left: 55%;
        h2 {
            padding-top: 100px;
        }
        image {
            background-color: transparent;
        }
    }
    i {
        border: 1px solid #000;
        width: 40px;
        height: 40px;
        padding-top: 5px;
        margin-right: 10px;
    }
}
.contact__form {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    div {
        display: inline-block;
        margin: auto auto;
    }
    input,
    label {
        flex-direction: row;
        width: 50%;
        background-color: transparent;
        border-color: transparent;
        outline: none;
    }
    label:first-of-type {
        margin-right: 19px;
    }
    label:last-of-type {
        margin-right: -9px;
    }
    input {
        border-bottom: 1px solid #000;
        height: 30px;
        margin-top: 20px;
        width: 48%;
        padding-left: 20px;
    }
    textarea {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 1px solid #000;
        outline: none;
        resize: none;
        padding-bottom: 0;
        margin-top: 30px;
        margin-bottom: 50px;
        height: 20px;
        padding-left: 20px;
    }
    button {
        text-align: center;
        background-color: transparent;
        border: 1px solid #000;
        font-size: 24px;
        height: 60px;
        outline: none;
        cursor: pointer;
        margin-bottom: 300px;
        padding: 10px;
    }
}
.contact .contact__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        div {
            margin-left: -85%;
            font-size: 16px;
      }
    a {
        color: #000;
    }
}
/*<--------------------------------Scroll Nav-------------------------------->*/
.active {
    border-bottom: 1px solid #333;
}

.fa-angle-double-up {
    position: fixed;
    top: 5%;
    right: 1%;
    font-size: 1.5em;
    animation: slideUp 4s linear infinite;

@-webkit-keyframes slideUp {
    0% { opacity:0; transform: translateY(0.8vw); }
    20% { opacity:1; transform: translateY(0.5vw); }
    80% { opacity:1; transform: translateY(-0.8vw); }
    100% { opacity:0; transform: translateY(-0.5vw); }
}
}
.fa-angle-double-down {
    position: fixed;
    bottom: 5%;
    right: 1%;
    font-size: 1.5em;
    animation: slideDown 4s linear infinite;

@-webkit-keyframes slideDown {
    0% { opacity:0; transform: translateY(-0.5vw); }
    20% { opacity:1; transform: translateY(-0.8vw); }
    80% { opacity:1; transform: translateY(0.8vw); }
    100% { opacity:0; transform: translateY(0.5vw); }
}
}

/*<--------------------------------Login and Register-------------------------------->*/

#login,
#register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    div {
        display: flex;
        justify-content: space-between;
        width: 30%;
        button {
            text-align: center;
            background-color: transparent;
            border: 1px solid #000;
            font-size: 20px;
            width: auto;
            outline: none;
            cursor: pointer;
            padding: 10px;
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
    label, input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        width: 30%;
        font-size: 20px;
        padding-left: 10px;
        padding-bottom: 5px;
    }
    label {

        margin-left: 10px;
        padding-top: 4%;
    }
    label {
        border-bottom: 1px solid #000;
    }
    p {
        width: 30%;
        font-size: 16px;
        padding-top: 1%;
        padding-bottom: 2%;
        text-align: right;
    }
}
.log__links {
    width: 100vw;
    margin-left: 85%;
    font-size: 20px;
    margin-bottom: 10%;
    a {
    text-decoration: none;
    color: #000;
}
}

#scrollNav {
    background-color: rgba(250,250,250,08);
    width: 100vw;
    right: 0;
    transition: 1s
};











